<h2 class="portitle">Portfolio</h2>
            <div class="port">
                <figure>
                    <img src="img/05.png" alt="an illustration of a girl with blue hair" />
                    <figcaption><a target="_blank" href="https://www.instagram.com/onisa.gh/">An Original Character</a></figcaption>
                </figure>
                <figure>
                    <img src="img/red-magazine.png" alt="a image of two magazines, one open and one closed showing the cover" />
                    <figcaption><a href="#">Red Magazine</a></figcaption>
                </figure>
                <figure>
                    <img src="img/postmailer.jpg" alt="an personal add using an image of a woman with funky elemnts around her" />
                    <figcaption><a target="_blank" href="https://www.behance.net/gallery/215694955/Self-Advertising-Banner">Postcard Mailer</a></figcaption>
                </figure>
                <figure>
                    <img src="img/cat-vid.png" alt="an illuatration of an orange cat with circles around it" />
                    <figcaption><a target="_blank" href="https://www.youtube.com/watch?v=7RZUwIr8R1I">Understanding Cat Language</a></figcaption>
                </figure>
                <figure>
                    <img src="../img/ghost.png" alt="a pencil sketch of a ghost crying on a pink background" />
                    <figcaption><a target="_blank" href="https://www.instagram.com/p/CK7bYuNnmKF/">A Crying Ghost</a></figcaption>
                </figure>
                <figure>
                    <img src="img/library.png" alt="a website interface with an image of a woman reading a book" />
                    <figcaption><a target="_blank" href="https://onisa-gh.github.io/Mapelbrook-Public-Library/index.html">A Puplic Library Website</a></figcaption>
                </figure>
            </div>